body {
  background: #f2f8f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 80px;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  margin: 0 auto;
}

.search_container {
  margin-top: 12vh;
}

.search_title {
  font-weight: bold;
  color: #666;
  display: block;
  margin-top: 48px;
  font-size: 18px;
}

.search_form {
  margin-top: 8px;
  width: 100%;
  position: relative;
}

.search_input {
  width: 100%;
  border: 1px solid #ccc;
  background: #f5f5f5;
  font-weight: bold;
  height: 50px;
  padding: 16px;
  border-radius: 25px;
}

.search_btn {
  position: absolute;
  right: 0;
  font-size: 18px;
  padding-top: 2px;
  padding-left: 2px;
  color: #f2f8f8;
  border: none;
  background: #55b3f7;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
